.container{
	  background: url(background.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;/* Modifica tamaño background chrome*/
	  -moz-background-size: cover; /* Modifica tamaño background mozilla*/
	  -o-background-size: cover; /* Modifica tamaño background opera*/
	  background-size: cover;
	  height: 800px;
	  margin-top: -35px;
}

h1{
	font-family: 'Fjalla One', sans-serif;
	color: black;
	text-align: center;
	font-size: 60px;
}

.upload-file{
	background-color: white;
	margin-left: 500px;
	margin-right: 500px;
}

.submit-button{
	margin-left: 500px;
	margin-right: 500px;
}

.description{
	font-family: 'Fjalla One', sans-serif;
	color: black;
	font-size: 20px;
	margin-right: 500px;
	margin-left: 500px;
	text-align: center;
}

.texto{
	text-align: justify;
}

.primer_texto{
	font-family: 'Fjalla One', sans-serif;
	color: black;
	font-size: 20px;
	margin-right: 500px;
	margin-left: 500px;
	text-align: center;
}
.text{
	text-align: justify;
}